numpy
pandas
numexpr
matplotlib
scipy
plotly
astropy
requests
python-dotenv
fastapi
groq
google-genai
nicegui
networkx
# Web Framework & UI
nicegui==2.24.2
fastapi
python-dotenv
uvicorn
huggingface_hub
# Scientific Calculation & Data
numpy
pandas
scipy
astropy
astroquery
networkx

# Plotting & Imaging
matplotlib
plotly
pillow

# AI & API
groq
requests
pypdf
latex2mathml
# Utilities (opzionali ma utili)
numexpr # Decommenta solo se hai errori specifici di pandas

